In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [3]:
# [과제] mtcars.csv를 불러와서 0 ~ 1 스케일로 정규화한 후 qsec 컬럼이 0.5보다 큰 관측치의 개수를 구하세요.
df = pd.read_csv('C:\cakd5\workspace\m2_분석라이브러리활용\dataset/mtcars.csv',index_col=0)
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [17]:
scaler = MinMaxScaler()
df[['qsec']]=scaler.fit_transform(df[['qsec']])
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,0.233333,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,0.300000,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,0.489286,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,0.588095,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,0.300000,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,0.680952,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,0.159524,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,0.654762,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,1.000000,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,0.452381,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,0.523810,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,0.345238,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,0.369048,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,0.416667,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,0.414286,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,0.395238,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,0.347619,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,0.591667,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,0.478571,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,0.642857,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,0.655952,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,0.282143,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,0.333333,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,0.108333,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,0.303571,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,0.523810,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,0.261905,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,0.285714,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,0.000000,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,0.119048,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,0.011905,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,0.488095,1,1,4,2

In [18]:
df1=df.loc[df['qsec']>0.5]
df1

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,0.588095,1,0,3,1
Valiant,18.1,6,225.0,105,2.76,3.460,0.680952,1,0,3,1
Merc 240D,24.4,4,146.7,62,3.69,3.190,0.654762,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,1.000000,1,0,4,2
Merc 280C,17.8,6,167.6,123,3.92,3.440,0.523810,1,0,4,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,0.591667,1,1,4,1
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,0.642857,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,0.655952,1,0,3,1
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,0.523810,1,1,4,1

In [19]:
print(len(df1))

9