In [17]:
import numpy as np
import pandas as pd
import datetime
id_=np.arange(1,10001)

cusno=np.random.randint(1,1001,size=10000)
gender = np.random.randint(2,size=1000)
age = np.random.randint(81,size=1000)
region=np.random.randint(1,11,size=1000)
c_gen=[]
c_age=[]
c_reg=[]
for i in range(10000):
    c_gen.append(gender[cusno[i]-1])
    c_age.append(age[cusno[i]-1])
    c_reg.append(region[cusno[i]-1])
price = np.random.randint(100,500,size=10000)*100
product = np.random.randint(10,40, size=10000)
quantity = np.random.randint(1,101,size=10000)
time = np.random.randint(1,25,size=10000)
date=pd.date_range(start = '2020-01-01', end = '2021-12-31',freq='D')
datec=np.random.choice(date,10000)

df=pd.DataFrame({'id':id_,'cusno':cusno,'gender':c_gen,'age':c_age,'region':c_reg,'product':product,
                 'price':price,'quantity':quantity,'time':time,
                'date':datec})
df['day']=df.date.dt.day_name()
df['amount']=df.price * df.quantity

ndf=df.reindex(columns=['id','cusno','gender','age','region','product','price','quantity','amount',
                   'date','day','time'])

bin_name=['10','20','30']
hist0,bins0=np.histogram(ndf['price'],bins=3)
ndf['product'] = pd.cut(ndf['price'],
                          bins=bins0,
                          labels=bin_name,
                          include_lowest=True)
ndf.head()

,id,cusno,gender,age,region,product,price,quantity,amount,date,day,time
0,1,502,0,34,10,20,25500,52,1326000,2021-05-04,Tuesday,1
1,2,561,0,42,5,30,43400,16,694400,2020-06-13,Saturday,8
2,3,100,0,51,10,20,35500,95,3372500,2021-05-27,Thursday,4
3,4,97,0,63,3,20,27800,94,2613200,2021-08-23,Monday,11
4,5,601,0,43,6,20,33200,67,2224400,2021-08-07,Saturday,17

1. 온라인/오프라인 구분지어서 전년대비 온라인구매량 상승